body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: #333;
    background: url("image/l_bg.gif") repeat-x top center; /* Thêm dòng này */
    background-color: #fdfaf5; /* màu nền phụ dưới cùng */
}


.container {
    width: 1000px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/* HEADER */
header {
    background-color: #e7f4e4; /* nền xanh nhạt */
    border-bottom: 4px solid #ffffff;
    
}

/* LOGO */
.logo-area {
    background-color: #fff;
    display: flex;
    justify-content: flex-end; /* Đưa logo sang bên phải */
    align-items: center;
    padding: 20px 40px;
}

.logo-img {
    width: 200px;
    
    margin-left: 15px;
}

.logo-text h1 {
    margin: 0;
    font-size: 28px;
    color: #555;
}

.logo-text h1 span {
    color: #7ac142;
}

.logo-text p {
    margin: 0;
    font-size: 13px;
    color: gray;
}

nav {
  background-color: #7ac142;
  text-align: center;
  padding: 8px 0;
  margin-top: 10px; /* tránh khoảng cách */
}


/* NAVIGATION MENU */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex; /* nằm ngang giữa */
    gap : 40px;
}

nav li {
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}

nav a:hover {
    text-decoration: underline;
    color: #333;
}



/* Banner */
.banner img {
    width: 100%;
}

/* Content */
.content {
    display: flex;
    padding: 20px;
}
.main {
    width: 65%;
}
.sidebar {
    width: 30%;
    margin-left: 5%;
    background: url("image/r_bg.gif") repeat-y right top; /* Thêm dòng này */
    background-color: #fefcf8; /* màu nền phụ (rất nhạt) */
    padding: 15px;
    border-left: 1px solid #ddd; /* tạo ranh giới nhẹ giữa 2 khung */
}


/* Sidebar */
.sidebar h3 {
    color: #7ac142;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar a {
    color: #7ac142;
    text-decoration: none;
}

/* Login box */
.login-box input {
    width: 90%;
    margin-bottom: 5px;
}
.login-box button {
    background: #7ac142;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* Footer */
footer {
    background: #7ac142;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}
